openapi: 3.0.1
info:
  title: E-commerce Platform API
  version: 1.0.0
  description: A basic API for an e-commerce platform.
  contact:
    name: Jarmo Venäläinen
    email: jatavena@gmail.com

servers:
  - url: http://localhost:3000
    description: Development server

tags:
  - name: Products
    description: Product management endpoints
  - name: Users
    description: User management endpoints
  - name: Categories
    description: Category management endpoints
  - name: Orders
    description: Order management endpoints
  - name: Carts
    description: Cart management endpoints
  - name: Contact Information
    description: Contact information management endpoints

paths:
# PRODUCTS
  /products:
    get:
      tags:
        - Products
      summary: Get all products
      description: Returns all products
      parameters:
        - name: name
          in: query
          required: false
          description: Filter products by name
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        400:
          description: Bad request
        404:
          description: Content not found
    
    post:
      tags:
        - Products
      summary: Submit a product
      description: Creates a product in the database
      requestBody: 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        201:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        400:
          description: Bad request
        401:
          description: Unauthorized request
    
  /products/{id}:
    get:
      tags:
        - Products
      summary: Find product by ID
      description: Returns a single product
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the product to return
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        404:
          description: Product not found

    put:
      tags:
        - Products
      summary: Update a product defined by an ID
      description: Updates a single product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the product to update
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        401:
          description: Unauthorized request
        404:
          description: Product not found
    
    delete:
      tags:
        - Products
      summary: Delete product by id
      description: Deletes a single Product
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the product to delete
          schema:
            type: integer
            format: int64
      responses:
        204:
          description: Resource deleted successfully
        401:
          description: Unauthorized request
        404:
          description: Product not found
# /USERS    
  /users:
    get:
      tags:
        - Users
      summary: Get all users
      description: Get all users
      parameters:
        - name: username
          in: query
          required: false
          description: Filter users by username
          schema:
            type: string
        - name: first_name
          in: query
          required: false
          description: Filter users by first name
          schema:
            type: string
        - name: last_name
          in: query
          required: false
          description: Filter users by last name
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        400:
          description: Bad request
        404:
          description: User not found

    post:
      tags:
        - Users
      summary: Submit a user
      description: Create a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        201:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: Bad request

  /users/{id}:
    get:
      tags:
        - Users
      summary: Get user by id
      description: Returns a single user
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the user to return
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User' 
        400:
          description: Bad request
        401:
          description: Unauthorized request
        404:
          description: User not found

    put:
      tags:
        - Users
      summary: Update user by id
      description: Update a single user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'           
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the user to be updated
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User' 
        400:
          description: Bad request
        401:
          description: Unauthorized request
        404:
          description: User not found

    delete:
      tags:
        - Users
      summary: Delete user by id
      description: Delete single user
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the user to be deleted
          schema:
            type: integer
            format: int64
      responses:
        204:
          description: Resource deleted successfully
        400:
          description: Bad request
        401:
          description: Unauthorized request
        404:
          description: User not found
# CATEGORIES
  /categories:
    get:
      tags:
        - Categories
      summary: Get all Categories
      description: Get all categories
      parameters:
        - name: name
          in: query
          required: false
          description: Filter categories by name
          content:
            application/json:
              schema:
                type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
        400:
          description: Bad request
        404:
          description: Category not found

    post:
      tags:
        - Categories
      summary: Submit a category
      description: Create a category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category'
      responses:
        201:
          description: Resource created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        400:
          description: Bad request
        401:
          description: Unauthorized request

  /categories/{id}:
    get:
      tags:
        - Categories
      summary: Get category by id
      description: Get a single category
      parameters:
        - name: id
          in: path
          required: true
          description: Id of the category to return
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        400:
          description: Bad request
        401:
          description: Unauthorized request

    put:
      tags:
        - Categories
      summary: Update category by id
      description: Update a single category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category'
      parameters:
        - name: id
          in: path
          required: true
          description: Id of the category to update
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        400:
          description: Bad request
        401:
          description: Unauthorized request

    delete:
      tags:
        - Categories
      summary: Delete category by id
      description: Delete single category
      parameters:
        - name: Id
          in: path
          required: true
          description: Id of the category to delete
          schema:
            type: integer
            format: int64
      responses:
        204:
          description: Resource deleted successfully
        400:
          description: Bad request
        401:
          description: Unauthorized request
        404:
          description: Category not found
# ORDERS
  /orders:
    get:
      tags:
        - Orders
      summary: Get all orders
      description: Get all orders
      parameters:
        - name: date
          in: query
          required: false
          description: Filter orders by order date
          schema:
            type: string
            format: date
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        400:
          description: Bad request
        404:
          description: Content not found

    post:
      tags:
        - Orders
      summary: Create a new order
      description: Create a new order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        201:
          description: Resource created successfully
        400:
          description: Bad request

  /orders/{id}:
    get:
      tags:
        - Orders
      summary: Get order by id
      description: Return single order
      parameters:
        - name: Id
          in: path
          description: Id of the order to return
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        400:
          description: Bad request
        401:
          description: Unauthorized request
        404:
          description: Order not found

    put:
      tags:
        - Orders
      summary: Update order by id
      description: Update single order by id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      parameters:
        - name: Id
          in: path
          description: Id of the order to update
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        400:
          description: Bad request
        401:
          description: Unauthorized request
        404:
          description: Order not found

    delete:
      tags:
        - Orders
      summary: Delete order by id
      description: Delete single order
      parameters:
        - name: Id
          in: path
          description: Id of the order to delete
          schema:
            type: integer
            format: int64
      responses:
        204:
          description: Resource deleted successfully
        400:
          description: Bad request
        401:
          description: Unauthorized request
        404:
          description: Category not found

components:
  schemas:
    Product:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        price:
          type: number
          format: float
        description:
          type: string
        categoryId:
          type: integer
      required:
        - name
        - price
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        password:
          type: string
          format: password
        birthday:
          type: string
          format: date
      required:
        - username
        - first_name
        - last_name
        - password
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        taxBase:
          type: integer
          format: int64
        description:
          type: string
      required:
        - name
        - tax_base
    Order:
      type: object
      properties:
        id:
          type: integer
          format: int64
        customerId:
          type: integer
          format: int64
        total:
          type: number
          format: numeric
        createdAt:
          type: string
          format: date
      required:
        - total
        